.review {
    position: relative;
    z-index: 1;
    padding-top: 80px+60px;
    padding-bottom: 76px;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 900px) {
        padding-top: 213px;
    }

    .background1 {
        position: absolute;
        z-index: 2;
        left: -200px;
        bottom: 300px;
        height: 200px;
        width: 200vw;
        background-color: #6c52e8;
        transform: rotate(-13deg);
    }
    .background2 {
        position: absolute;
        z-index: 1;
        bottom: 600px;
        right: -150px;
        width: 200vw;
        height: 180px;
        transform: rotate(15deg);
        background-color: #9747ff;
    }
    @media (max-width: 1500px) {
        .background1 {
            bottom: 260px;
        }
        .background2 {
            bottom: 530px;
        }
    }
    @media (max-width: 620px) {
        .background1 {
            display: none;
        }
        .background2 {
            display: none;
        }
    }
    .wrapper {
        position: relative;
        z-index: 10;
        h4 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 24px;
            color: #111;
        }
        p {
            margin-top: 9px;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 145%;
            color: #4a4a4a;
        }
        @media (max-width: 860px) {
            p {
                font-size: 14px;
            }
            h4 {
                font-size: 20px;
            }
        }
        .content {
            margin-top: 32px;
            .reviews {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 15px;
            }
            .btn {
                margin-top: 32px;

                button {
                    width: 327px;
                    height: 54px;
                }
            }
            @media (max-width: 920px) {
                .reviews {
                    grid-template-columns: repeat(2, 1fr);
                    justify-items: center;
                    gap: 15px;
                }
            }

            @media (max-width: 620px) {
                .reviews {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 15px;
                }
            }
            @media (max-width: 390px) {
                .btn {
                    display: none;
                }
            }
        }
    }

    .background2 {
        position: absolute;
    }
    .background1 {
        position: absolute;
    }
}

.card {
    border-bottom: 4px solid #000;
    border-left: 1px solid #000;
    border-right: 4px solid #000;
    border-top: 1px solid #000;
    border-radius: 16px;
    padding: 32px;
    width: 366px;
    height: 320px;
    box-sizing: border-box;
    background-color: var(--white);
    cursor: pointer;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.03);
    }

    .header {
        .avatar {
            border-radius: 50%;
            width: 48px;
            height: 48px;
            background-color: gray;
        }
        span {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 20px;
            color: #ff4c00;
        }
        gap: 12px;
    }
    .profi {
        margin-top: 8px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px !important;
        line-height: 145%;
        color: #4a4a4a;

        span {
            font-size: 16px;
            color: #000;
        }
    }
    .text {
        margin-top: 24px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        line-height: 145%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    button {
        margin-top: 23px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 145%;

        color: var(--normal);
    }
    @media (max-width: 1500px) {
        min-width: 250;
        width: 100%;
        height: auto;
        span {
            font-size: 18px;
        }
        .profi {
            margin-top: 3px;
        }
        .text {
            font-size: 14px;
            margin-top: 15px;
        }
        button {
            font-size: 13px;
        }
    }
    @media (max-width: 620px) {
        min-height: none;
        max-width: 500px;
    }
}
