.chat {
    background: #fff;
    border-radius: 32px;
    padding: 8px 35px 12px 35px;
    box-sizing: border-box;
    margin-top: 20px;
    height: 54px;
    position: relative;

    p {
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 600;
    }

    .message_chat {
        color: var(--gray);
    }
    .name_chat {
        color: #4822f4;
    }
    & svg {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
