/// component Card

.where {
    position: relative;
    overflow: hidden;
    .sideLeft {
        position: absolute;
        height: 100vh;
        top: 0px;
        left: -10px;
    }
    .sideRight {
        position: absolute;
        top: 0px;
        right: -10px;
    }

    .wrapper {
        min-height: 100%;
        width: 100%;
        margin-bottom: 60px;

        .header {
            margin-top: 118px;
            h2 {
                margin-bottom: 12px;
            }
            strong {
                font-weight: 700;
                font-size: 18px;
                color: #4a4a4a;
            }
            @media (max-width: 660px) {
                margin-top: 80px;
                h2 {
                    font-size: 20px;
                }
                strong {
                    font-size: 16px;
                }
            }
        }
        .cards {
            margin-top: 80px;
            gap: 12px;
            width: 100%;
            .arrowBottom {
                display: none;
            }
            .wrapperBlock {
                width: 100%;
            }
            .car {
                position: relative;
                z-index: 5;
            }
            @media (max-width: 900px) {
                .arrowBottom {
                    display: flex;

                    svg {
                        position: relative;
                        z-index: -1;
                    }
                    .cir {
                        position: relative;
                        z-index: 1;
                    }
                }
                overflow-x: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                height: auto;
            }
            @media (max-width: 660px) {
                gap: 32px;
            }
        }
        .circles {
            margin-top: 28px;
            gap: 8px;
            padding: 0 120px;

            @media (max-width: 900px) {
                display: none;
            }
        }
        .bottom {
            gap: 30px;
            margin-top: 138px;
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 145%;
            }
            span {
                max-width: 327px;
                width: 100%;
                height: 54px;
                p {
                    margin-top: 8px;
                    font-weight: 700;
                    line-height: 145%;
                    font-size: 12px;
                }
            }
            @media (max-width: 660px) {
                width: 100%;
                gap: 15px;
                flex-direction: column;
                & .left {
                    display: none;
                }
                span {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        @media (max-width: 740px) {
            .circles {
                display: none;
            }
        }
    }
    @media (max-width: 1660px) {
        .bottom {
            svg {
                width: 180px;
            }
            p {
                font-size: 14px !important;
            }
            span {
                width: 250px !important;
                button {
                    font-size: 16px !important;
                }
                height: 54px;
                p {
                    font-size: 12px !important;
                }
            }
        }
        .sideRight {
            right: -40px;
        }
        .sideLeft {
            left: -40px;
        }
    }

    @media (max-width: 1500px) {
        overflow: visible;
        .sideRight {
            display: none;
        }
        .sideLeft {
            display: none;
        }
        .wrapper {
            .circles {
                padding: 0 80px;
            }
        }

        .bottom {
            svg {
                display: none;
            }
        }
    }
}
.card {
    border-bottom: 4px solid #000;
    border-left: 1px solid #000;
    border-right: 4px solid #000;
    border-top: 1px solid #000;
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px;
    width: 286px;
    box-sizing: border-box;
    height: 237px;

    img {
        margin-bottom: 32px;
    }
    strong {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20px;
        color: #111;
    }
    p {
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 145%;
        margin-top: 8px;
    }
    @media (max-width: 1500px) {
        padding: 13px;
        width: 100%;
        height: 237px-47px;
        p {
            font-size: 14px;
            margin-top: 5px;
        }
        strong {
            line-height: 120%;
            font-size: 16px !important;
        }
        img {
            margin-bottom: 15px;
            width: 40px;
            height: 40px;
        }
    }
    @media (max-width: 910px) {
        padding: 8px;
        height: 237px-80px;
        p {
            font-size: 12px;
            margin-top: 5px;
        }
        strong {
            line-height: 120%;
            font-size: 14px !important;
        }
        img {
            margin-bottom: 15px;
            width: 39px;
            height: 30px;
        }
    }
    @media (max-width: 900px) {
        width: 286px;
        max-width: none;
        img {
            width: 40px;
            height: 40px;
        }
        strong {
            font-size: 20px !important;
        }
        p {
            margin-top: 8px;
            font-size: 16px;
        }
        padding: 32px;
        min-width: 300px;
        height: 200px;
    }
    @media (max-width: 500px) {
        img {
            margin-bottom: 32px;
        }
    }
}

.circle {
    padding: 8px;
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    box-sizing: border-box;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    color: var(--white);
    border-radius: 50%;
    @media (max-width: 910px) {
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        font-size: 24px;
    }
}
.circle_1 {
    border: 3px dashed var(--normal);
    color: var(--normal);
}
.circle_2 {
    border: 3px dashed var(--normal);
    background-color: var(--normal);
}
