.route {
    height: 100%;
    position: relative;
    .navigation {
        width: 100%;
        top: 40px;
        position: absolute;
        box-sizing: border-box;
        z-index: 999;
    }
    .buyCard {
        display: none;
        margin-top: 40px;
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 14px;
        text-align: center;
        color: #fff;
        padding: 16px;
        background: #000;
        height: 49px;
    }
    .about {
        top: 40px;
    }

    @media (max-width: 1500px) {
        h2 {
            font-size: 22px !important;
        }
    }
    @media (max-width: 900px) {
        .about {
            top: 186px;
        }
        .community {
            top: 80px;
        }
        .buyCard {
            display: flex;
        }
        .wrapper {
            flex-direction: column;
            max-width: 471px;
            width: 100%;
            gap: 16px;
            h2 {
                align-self: flex-start;
            }
        }
    }
}
