.wrapperChart {
    padding: 0 15px;
    .chart {
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 8px;
    }
}

.content {
    width: 100%;
    height: 175px;
}
.left {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    gap: 26px;
    padding-right: 5px;
}
.bottom {
    font-weight: 700;
    font-size: 14px;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 35px;
}
@media (max-width: 1500px) {
    .bottom {
        padding-right: 20px;
    }
}

@media (max-width: 800px) {
    // .bottom {
    //     font-size: 10px;
    //     padding-left: 55px;
    //     padding-right: 20px;
    // }

    .left {
        font-size: 12px;
    }
    .chart {
        font-size: 10px !important ;
    }
}

@media (max-width: 680px) {
    .wrapperChart {
        overflow-x: scroll;
        padding: 0;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .chart {
            max-width: 400px;
            gap: 3px;
            padding-left: 16px;
            span {
                font-size: 12px !important;
                border-radius: 6px;
                padding: 10px 30px;
                transition: all 0.4s ease;
            }

            .active {
                background-color: var(--normal);
                color: #fff;
            }
        }
    }
    .customChart {
        padding-right: 8px;
    }
    .chartBlock {
        align-items: flex-start;
    }
    .left {
        padding-top: 20px;
        padding-left: 16px;
    }
    .bottom {
        font-size: 12px;
    }
}
@media (max-width: 530px) {
    .wrapperChart {
        .chart {
            max-width: 300px;
        }
    }
}
@media (max-width: 390px) {
    .wrapperChart {
        .chart {
            max-width: 200px;
        }
    }
}
