.roadmap {
    padding-top: 80px+60px;
    box-sizing: border-box;
    height: 1080px;
    position: relative;
    overflow: hidden;
    .circle1 {
        position: absolute;
        left: 0;
        bottom: -100px;
    }
    .circle2 {
        position: absolute;
        left: 158px;
        bottom: -150px;
    }
    .background {
        clip-path: inset(0 0 0 1200px);
        width: 200vw;
        height: 100%;
        position: absolute;
        left: -900px;
        bottom: -30px;
    }
    @media (max-width: 900px) {
        padding-top: 250px;
    }

    .wrapper {
        height: 100%;
        .block {
            position: relative;

            &:nth-child(2) {
                top: 167px;
            }
            &:nth-child(4) {
                top: 94px;
            }

            .green {
                z-index: 1;
                position: absolute;
                right: -15px;
                bottom: -120px;
            }
            .blue {
                position: absolute;
                top: -100px;
                right: -20px;
                z-index: 1;
            }
            .monkey {
                z-index: 999;
                position: absolute;
                bottom: -450px;
                left: 90px;
                transform: translateY(25px);
            }

            .purble {
                z-index: 1;
                position: absolute;
                right: -15px;
                bottom: -90px;
            }
        }
    }

    @media (max-width: 1200px) {
        .wrapper {
            gap: 10px;
            .block {
                .monkey {
                    bottom: -480px;
                    left: 40px;
                }
                .green {
                    width: 140px;
                    bottom: -100px;
                    right: -5px;
                }
                .blue {
                    width: 140px;
                    top: -100px;
                    right: -10px;
                }
                .purble {
                    width: 110px;
                    position: absolute;
                    right: -10px;
                    bottom: -80px;
                }
            }
        }
    }
    @media (max-width: 1060px) {
        overflow: visible;
        .background {
            display: none;
        }
        .circle1 {
            display: none;
        }
        .circle2 {
            display: none;
        }
    }
    .mobile {
        display: none;
        .monkeyMobile {
            margin-top: 40px;
            transform: translateY(3px);
        }
    }

    @media (max-width: 810px) {
        height: 100%;
        .wrapper {
            display: none;
        }
        .mobile {
            display: block;
            overflow: hidden;
            .wrapperMobile {
                width: 750px;
            }
        }
    }
}

.card {
    width: 270px;
    height: auto;
    position: relative;
    z-index: 99;
    .header {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        padding: 16px 0;
        text-align: center;
        border-radius: 16px 16px 0 0;
        box-sizing: border-box;
    }

    .content {
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        color: #4a4a4a;
        gap: 16px;
        padding: 32px 16px;
        border-radius: 0 0 16px 16px;
        box-sizing: border-box;
        span {
            margin-right: 8px;
            border-radius: 64px;
            min-width: 4px;
            max-width: 4px;
            height: 32px;
        }
    }

    @media (max-width: 1200px) {
        width: 210px;

        .header {
            font-size: 14px;
        }
        .content {
            font-size: 11px;
            gap: 12px;

            span {
                height: 25px;
            }
        }
    }
    @media (max-width: 940px) {
        width: 180px;
        .header {
            font-size: 12px;
        }
        .content {
            padding: 20px 10px;
            font-size: 10px;
        }
    }
    @media (max-width: 810px) {
        width: 100%;
        min-width: 270px;
        max-width: 270px;

        .header {
            font-size: 16px;
        }
        .content {
            gap: 16px;
            font-size: 14px;
            height: 272px;
            padding: 32px 16px;
        }
    }
}
