.header {
    background: #fff;
    border-bottom: 6px solid #000;
    border-left: 1px solid #000;
    border-right: 4px solid #000;
    border-top: 1px solid #000;
    border-radius: 16px;
    padding: 12px 0 0px 0;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    position: relative;
    .navigations {
        z-index: 9999;
        gap: 10px;
        width: 100%;
        padding: 0 60px;
        box-sizing: border-box;

        li {
            position: relative;
            color: var(--gray);
            font-family: var(--third-family);
            font-weight: 700;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            box-sizing: border-box;
            padding: 11px 32px;
            cursor: pointer;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 2;
            border-radius: 4px 4px 0 0;
            .border {
                height: 0;
                opacity: 0;
                background-color: var(--normal);
                width: 100%;
                border-radius: 4px 4px 0 0;
                transition:
                    height 0.3s ease,
                    opacity 0.3s ease;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;
                opacity: 0;
                background-color: var(--normal);
                width: 100%;
                border-radius: 4px 4px 0 0;
                transition:
                    height 0.3s ease,
                    opacity 0.3s ease;
                z-index: -1;
            }
            &:active::after {
                background-color: var(--normal);
                height: 60px;
                opacity: 1;
                transform: translateY(5px);
            }

            &:hover .border {
                height: 8px;
                opacity: 1;
            }

            & span {
                gap: 5px;
                position: relative;
                z-index: 2;
                display: block;
                & svg {
                    transform: translateY(-3px);
                }
            }
        }

        .wrapper {
            position: relative;

            .drop {
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;
                font-family: var(--third-family);
                font-weight: 700;
                font-size: 20px;
                color: var(--gray);
                background-color: #fff;
                border-radius: 0 0 8px 8px;
                padding: 18px;
                width: 219px;
                position: absolute;
                bottom: -157px;
                box-sizing: border-box;
                gap: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & div {
                    cursor: pointer;
                    width: 100%;
                    text-align: center;
                    .border {
                        height: 0;
                        opacity: 0;
                        background-color: var(--normal);
                        width: 100%;
                        border-radius: 4px 4px 0 0;
                        transition:
                            height 0.3s ease,
                            opacity 0.3s ease;
                    }
                    &:hover .border {
                        height: 8px;
                        opacity: 1;
                    }
                }
            }
            &:hover .drop {
                opacity: 1;
                pointer-events: auto;
            }
        }
        @media (max-width: 1500px) {
            li,
            .drop {
                font-size: 18px !important;
            }

            padding: 0;
        }
    }
}
