.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: url('/hero1.png') no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 1080px;
    header {
        margin-top: 20px;
        @media (max-width: 950px) {
            margin-top: 0;
            display: none;
        }
    }
    @media (max-width: 1800px) {
        min-height: 830px;
    }
    @media (max-width: 850px) {
        min-height: 100%;
        height: 100%;
        background: none;
    }

    .board {
        position: absolute;
        bottom: 150px;
        transform: translateX(-300px);
        // left: 200px;
        .monkeyPc {
            position: relative;
        }
        .container {
            position: relative;
            bottom: -200px;
            & .boardImg {
                position: relative;
                object-fit: contain;
                z-index: 99;
            }
            .monkeyPc {
                clip-path: inset(10px 0 0 0);
                position: absolute;
                right: -590px;
                z-index: 1;
            }
            .texts {
                position: absolute;
                top: 250px;
                right: 182px;
                z-index: 99;
            }
        }
        @media (max-width: 1800px) {
            transform: scale(0.8) translateX(-300px);

            // left: -100px;
            bottom: -10px;
        }
        @media (max-width: 1200px) {
            transform: scale(0.65) translateX(-300px);
            bottom: -80px;
        }
        @media (max-width: 1083px) {
            bottom: -135px;
            // left: -200px;
            transform: scale(0.55) translateX(-300px);
        }
        @media (max-width: 850px) {
            display: none;
        }
    }
    .mon {
        display: none;
    }
    @media (max-width: 850px) {
        .mobile {
            padding-top: 64px;
            display: block;
        }
    }
    .chat {
        position: absolute;
        z-index: 999;
        bottom: 275px;
        right: 36px;
        @media (max-width: 1500px) {
            transform: scale(0.8);
            right: 10px;
            bottom: 200px;
        }
        @media (max-width: 1200px) {
            transform: scale(0.65);
            right: -35px;
            bottom: 130px;
        }
        @media (max-width: 920px) {
            transform: scale(0.55);
        }
        @media (max-width: 850px) {
            display: none;
        }
    }
    .languege {
        position: absolute;
        right: 40px;
        bottom: 40px;
        z-index: 999;
    }
}

.infoBoard {
    width: 670px;
    position: relative;
    z-index: 99;
    h1 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        color: var(--normal);
    }
    h2 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        color: #111;
        margin-top: 20px;
    }
    h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        color: var(--normal);
        margin-top: 20px;
    }
    .boardButton {
        margin-top: 35px;
        width: 100%;
        gap: 16px;
        button {
            height: 56px;
        }
    }
    p {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 145%;
        color: #4a4a4a;
        margin-top: 4px;
    }
    .square {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 16px;
        box-sizing: border-box;
        height: 54px;
        margin-top: 32px;
        background: #000;
    }
    .mobile {
        display: none;
    }
    @media (max-width: 570px) {
        width: 100%;

        .mobile {
            display: block;
        }
        .desktop {
            display: none;
        }
        h1,
        h2,
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
        .boardButton {
            display: none;
        }
    }
}

.mobile {
    display: none;
    .desc {
        h1 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18px;
            color: var(--normal);
        }
        h2 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18px;
            color: #111;
            margin-top: 20px;
        }
        h3 {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18px;
            color: var(--normal);
            margin-top: 20px;
        }

        p {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;
            line-height: 145%;
            color: #4a4a4a;
            margin-top: 4px;
        }
        margin-bottom: 15px;
    }

    .mobileBoard {
        position: relative;
        @media (max-width: 390px) {
            transform: scale(0.9);
        }
        @media (max-width: 350px) {
            transform: scale(0.8);
        }

        .btns {
            width: 100%;
            gap: 16px;
            position: absolute;
            bottom: 50px;
            z-index: 9;
        }
        .monkeyMobile {
            position: absolute;
            left: 50px;
            top: -12px;
            z-index: 1;
            clip-path: inset(10px 0 0 0);
        }
    }
    @media (max-width: 850px) {
        display: block;
        transform: translateY(10px);
    }
    @media (max-width: 390px) {
        transform: translateY(23px);
    }
    @media (max-width: 350px) {
        transform: translateY(40px);
    }
}

.componentLanguage {
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: var(--normal);
}
