.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-color: gray;

    .board {
        height: 100%;
        transform: translate(-13%, 10px);

        & img {
            object-fit: contain;
            z-index: 1;
        }
        .container {
            position: relative;
            .texts {
                position: absolute;
                top: 250px;
                right: 185px;
                z-index: 2;
            }
        }
    }
    .chat {
        position: absolute;
        bottom: 275px;
        right: 36px;
    }
}

.infoBoard {
    width: 670px;

    h1 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        color: var(--normal);
    }
    h2 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        color: #111;
        margin-top: 20px;
    }
    h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        color: var(--normal);
        margin-top: 20px;
    }
    .boardButton {
        gap: 16px;
        margin-top: 35px;
        height: 56px;
    }
    p {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 145%;
        color: #4a4a4a;
        margin-top: 4px;
    }
    .square {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        color: #fff;
        padding: 16px;
        box-sizing: border-box;
        height: 54px;
        margin-top: 32px;
        background: #000;
    }
}
